/* This started from 

https://www.php.net/cached.php?t=1540425603&f=/styles/theme-medium.css

That timestamp is Wed Oct 24 2018 20:00:03 GMT-0400 (Eastern Daylight Time)
I retrieved it 2020/07/31 10:43pm EDT

Then I cut it down mercilessly.
*/

/* See colors documented at bottom */

/* {{{ Tables */
.doctable,
.segmentedlist {
  border-color: #ccc;
}
.doctable thead tr,
.segmentedlist thead tr {
  border-color: #C4C9DF;
  border-bottom-color: #8892BF;
  color: #333;
}
.doctable th,
.segmentedlist th {
  background-color: #C4C9DF;
}
.doctable tr,
.segmentedlist tr {
  border-color: #ccc
}
.doctable tbody tr:nth-child(odd),
.segmentedlist tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.doctable tbody tr:nth-child(even),
.segmentedlist tbody tr:nth-child(even) {
  background-color: #E6E6E6;
}
/* }}} */

/**
 *
 *  COLORS:       | HEX     |
 * ---------------+---------+
 *  light-blue    | #E2E4EF |
 * ---------------+---------+
 *  medium-blue   | #8892BF |
 * ---------------+---------+
 *  dark-blue     | #4F5B93 |
 * ---------------+---------+
 *
 */